<div class="cookies-card">
    <i class="fa-regular fa-cookie-bite cookie-icon" ></i>
    <p class="cookies-title">We use cookies</p>
    <p class="cookies-description"> This website uses cookies to ensure you get the best experience on our site</p>

        <div class="cookies-buttons">
            <button class="cookies-accept-button">Accept</button>
            <button class="cookies-decline-button">Decline</button>
        </div>

</div>